ul li
{
   display: inline-block;
   margin-right: 0;
   padding: 10px;
}

body{
   background-color: black;
   color: #e094ba;
   font-family: sans-serif;
}

.heading
{
   font-weight: 150px;
   font-size: 50px;
   text-align: center;
   margin: 30px;
   padding: 10px;
}

p
{
   margin-left: 2px;
   font-weight: 100px;
   font-size: 30px;
}

input{
   background-color: black;
   box-shadow: 1px pink;
   color: #e094ba;
   margin: 5px;
   padding: 10px;
}

input:hover{
   background-color: #f8a9cf;
   color: black;
   padding: 12px;
}

.foot
{
   color: white;
   background-color: rgb(32, 28, 28);
   text-align: center;
   font-size: 15px;
   padding: 5px;
   margin: 10px;
}

.foot-back
{
   background-color: rgb(32, 28, 28);
   text-align: center;
   padding: 5px;
   margin: 60px;
}

.confirm
{
   color: black;
   font-weight: 150px;
   font-size: 100px;
   padding: 30px;
   margin: 20px;
   
}

.confirm:hover{
   background-color: black;
   color:#e094ba;
   border: 1px #e094ba;
}

.links
{
   text-align: center;
   
   padding: 4px;
   margin: 10px;
}

a{
   text-decoration: none;
   color:#e094ba;
}

.links:hover
{
   text-align: center;
   border: 1px solid #e094ba;
   padding: 4px;
   margin: 10px;
}

.icontent p
{
   text-align: center;
   margin:20px;
   padding: 5px;
   font-size: 20px;
   
}

.herobtn
{
   background-color: pink;
   color: black;
   border: 1px solid black;
   box-shadow:2px grey;
   margin: 10px;
   padding: 20px;
   
}

.herobtn a:hover
{
   background-color:rgb(32, 28, 28);
   border: 2px solid #e094ba;
   color: #e094ba;
}